<!DOCTYPE html>
<html lang=pt-BR>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clientes - Banco</title>
    <style>
        table {
            margin: 0 auto;
            text-align: center;
            width: 100%;
            height: 100%;
        }
        table, th, td {
            border: 1px solid #000000
        }
    </style>
</head>
<body>
        {% csrf_token %}
        <table>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Cidade</th>
        </tr>
        {% for x in banco %}
        <tr>
            <td>{{ x.nome }}</td>
            <td>{{ x.cpf }}</td>
            <td>{{ x.cidadeCliente }}</td>
        </tr>
        {% endfor %}
        </table>
</body>
</html>
